# ======================================
# APP
# ======================================
NODE_ENV=development
PORT=3030
APP_URL=http://localhost:3000

# ======================================
# DATABASE
# ======================================
DB_SESSIONSECRET=
MONGO_URI_PROD=
MONGO_URI_DEV=

# ======================================
# SESSION (EXPRESS SESSION)
# ======================================
SESSION_SECRET=
SESSION_NAME=anime.sid

# cookie settings
COOKIE_MAX_AGE=86400000

# ======================================
# AUTH
# ======================================
BCRYPT_ROUNDS=10

# ======================================
# CLOUDINARY (UPLOADS)
# ======================================
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# ======================================
# RATE LIMIT
# ======================================
LOGIN_RATE_LIMIT_MAX=50
LOGIN_RATE_LIMIT_WINDOW=900000

# ======================================
# SECURITY
# ======================================
TRUST_PROXY=true