@import '../../../styles/settings.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  a {
    text-decoration: none;
  }

  .text {
    width: 100%;
    padding: 10px;
  }
}