@import '../../../styles/settings.scss';

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: $footer-bg-color;

  a {
    color: $color-light;
    text-decoration: none;
  }
}