@import '../../../styles/settings.scss';

.card {
  position: relative;
  overflow: hidden;

  height: $anime-card-height;
  width: $anime-card-width;

  color: $color-light;

  box-shadow: 0px 0px 24px -6px $anime-card-shadow;
  cursor: pointer;

  &:hover {
    transform: scale(1.025);
    transition: $transition;

    box-shadow: 0px 0px 28px -3px $anime-card-shadow;
  }

  &:not(:hover) {
    transition: $transition;
    transform: scale(1);
  }

  .img {
  position: absolute;
  z-index: 1;

  height: 100%;
  width: auto;

  left: 50%;
  top: 0;

  transform: translateX(-50%);

  pointer-events: none;
}

  .frame {
    position: absolute;
    z-index: 2;

    inset: 0;

    width: 100%;
    height: 100%;

    object-fit: contain;

    pointer-events: none;
  }

  .infoPanel {
    position: absolute;
    z-index: 3;

    left: 0;
    bottom: 0;

    width: 100%;

    padding: 8px 10px;

    //background: rgba(0, 0, 0, 0.65);

    // opcjonalnie lekkie rozmycie tła
    //backdrop-filter: blur(3px);
  }

  .top {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;

      color: blanchedalmond;
    }
  }

  .bottom {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 5px;
  }

  .btn {
    text-decoration: none;
    color: blanchedalmond;

    text-align: center;
  }

}
