@import '../../../styles/settings.scss';

.card {
  position: relative;
  border-radius: 10px;
  overflow: hidden; // VERY IMPORTANT
  height: $anime-card-height;
  width: $anime-card-width;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $color-light;

  box-shadow: 0px 0px 24px -6px $secondary-color-dark;
  cursor: pointer;
 
  &:hover {
    transform: scale(1.05);
    transition: $transition;

    -webkit-box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
    -moz-box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
    box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
  }

  &:not(:hover) {
    transition: $transition;
    transform: scale(1); 
  }
  
  .title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 50%;
    height: 47px;
  }
  
  .body {
    padding: 10px;
  }

  .top,
  .body,
  .btn {
    position: relative;
    z-index: 2;
  }

  .top {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to top,
    rgba(0,0,0,0.85),
    rgba(0,0,0,0.2),
    rgba(0,0,0,0.6)
  );

  z-index: 1;
}