@import '../../../styles/settings.scss';

.card{
  position: relative;
  border-radius:10px;
  border: 1px solid rgb(8, 8, 14);
  color: $color-light;
  height: $anime-card-height;
  width: $anime-card-width; 
  background-color: $anime-card-background;

  -webkit-box-shadow: 0px 0px 24px -6px $secondary-color-dark;
  -moz-box-shadow: 0px 0px 24px -6px $secondary-color-dark;
  box-shadow: 0px 0px 24px -6px $secondary-color-dark;
 
  &:hover {
    transform: scale(1.075);
    transition: $transition;

    -webkit-box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
    -moz-box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
    box-shadow: 0px 0px 28px -3px $secondary-color-light-medium;
  }

  &:not(:hover) {
    transition: $transition;
    transform: scale(1); 
  }
  
  .title {
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    left: 50%;
    height: 47px;
  }
  
  .body {
    padding: 10px;
  }
}