@import '../../../styles/settings.scss';

.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;  // ⬅️ pion (środek ekranu)
  align-items: center;      // ⬅️ poziom

  background-color: $homePage-bg-color;
  color: $color-light;

  .img {
		height: $anime-card-height;
  		width: $anime-card-width;
	}

  .about {
    display: flex;
    justify-content: space-between;
  }

  .characters {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .stats_nav {
     display: flex;
     gap: 15px;
     margin: 20px 0px;
  }

}