@import '../../../styles/settings.scss';

.root {
  position: relative;
  padding: 0;
  border: 2px solid #333;
  border-radius: 3px 3px 3px 3px;

  .navbar {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;  

    .img {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
    }
  }
}
