@import '../../../styles/settings.scss';

.root {
  position: relative;
  border: 2px solid #333;
  border-radius: 10px 20px 30px 40px;
  
  a {
    text-decoration: none;
    text-align: center;
  }

  .navbar {
    padding: 10px;
  }
}
