@import '../../../styles/settings.scss';

.root {
  background: $navbar-bg-color;
  color: $color-light;

  .navbar {
    padding: 0 15px 0 15px;
    margin: 0;
    display: flex;
    justify-content: space-between; 
    align-items: center;  

    .img {
      width: 50px;
      height: 50px;
      margin: 0;
    }

    p {
      padding: 0;
      margin: 0;
    }

    .btn {
      color: $color-light;
    }
  }
}
